* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
}

.mainHeader {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
}

.logo {
  height: 45px;
}

.searchBox {
  width: 30%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
}

.headerBtn {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: black;
}

.productSection {
  height: 500px;
  width: 100%;
  background-color: #8fa31e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  height: 400px;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c6d870;
  border-radius: 15px;
}

.productImg {
  height: 300px;
  width: 250px;
  margin-bottom: 10px;
}

.button {
  background-color: #9c9c00;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

footer {
  height: auto;
  background-color: #fdebd0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10%;
}

.svgs {
  display: flex;
  gap: 5%;
}
